.contact-card {
    height: 400px;
    width: 400px;
    background-color: #333;
    color: #fff;
    font-family: "Montserrat" , sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}