@mixin album-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.featured {
    margin: 5% 17% 10%;   
    font-family: "Montserrat" , sans-serif; 
    text-align: center;
    font-family: 'Montserrat' , sans-serif;

    @media only screen and (min-width: 2600px) {
        margin-top: 7%;
    }

    @media only screen and (min-width: 1760px) {
        margin: 3% 10% 10%;
    }

    @media only screen and (max-width: 1100px) {
        margin-top: 10%;
    }

    @media only screen and (max-width: 525px) {
        margin: 12% 0 0;
    }

    &__title {
        color: #000;
        font-size: 3.5em;
        letter-spacing: -2px;
        font-weight: 700;
        margin-bottom: 1%;

        @media only screen and (max-width: 915px) {
            font-size: 2.9em;
        }

        @media only screen and (max-width: 750px) {
            font-size: 2.2em;
        }
    }

    &__description {
        color: #F50;
        margin-bottom: 2%;
        font-size: 20px;
        font-weight: 600;

        @media only screen and (max-width: 5250px) {
            font-size: 19px;
          }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 1.5em;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 7%;

        @media only screen and (max-width: 1400px) {
            grid-template-columns: 350px 350px;
        }

        @media only screen and (max-width: 950px) {
            grid-template-columns: 600px;
        }

        @media only screen and (max-width: 700px) {
            grid-template-columns: 500px;
        }

        @media only screen and (max-width: 500px) {
            grid-template-columns: 375px;
        }

        @media only screen and (max-width: 500px) {
            grid-template-columns: 300px;
        }

        &--link {
            height: 350px;
            width: inherit;
            max-width: 350px;
            justify-content: center;
            box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
            border-radius: 3px;
            transition: .2s ease-in-out;
            color: #fff;
            text-decoration: none;

            @media only screen and (min-width: 2000px) {
                max-width: 450px;
            }

            @media only screen and (max-width: 950px) {
                min-width: 300px;
                max-width: 600px;
            }

            @media only screen and (max-width: 500px) {
                min-width: 300px;
            }

            @media only screen and (max-width: 400px) {
                min-width: 250px;
            }

            &:hover {
                transform: scale(1.02);
                transition: .2s ease-in-out;

                @media only screen and (max-width: 1330px) {
                    transform: none;
                    transition: none;
                }
            }
        }

        &--overlay {
            display: none;
            color: #fff;
            background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%);

            @media only screen and (max-width: 1330px) {    
                display: block;
                display: flex;
                flex-direction: column;
                height: inherit;
                text-align: center;
                justify-content: center;
            }
        }

        &__heading {
            font-size: 1.1em;
            padding: 40px 40px 0;
            align-self: center;
            margin-bottom: 0.438em;

            @media only screen and (max-width: 1440px) and (max-height: 1400px) {
                font-size: 1em;
            }

            @media only screen and (max-width: 1330px) {  
                text-align: center;
            }

            @media only screen and (max-width: 900px) {
                font-size: 1.2em;
            }

            @media only screen and (max-width: 630px) {
                font-size: 1em;
            }


            @media only screen and (max-width: 350px) {
                font-size: .9em;
            }
            
            @media only screen and (max-width: 280px) {
                font-size: .9em;
            }
        }

        &__description {
            font-size: .9em;
            text-align: left;
            align-self :center;
            margin-bottom: 20px;

            @media only screen and (max-width: 1440px) and (max-height: 1400px) {
                font-size: .8em;
            }

            @media only screen and (max-width: 1330px) {
                text-shadow: -2px 2px 2px #999;
            }

            @media only screen and (max-width: 900px) {
                font-size: 1em;
            }

            @media only screen and (max-width: 630px) {
                font-size: .8em;
            }


            @media only screen and (max-width: 350px) {
                font-size: .75em;
            }

            @media only screen and (max-width: 280px) {
                font-size: .65em;
            }
            
        }

    }
}

.One {
    background: url(/images/albums/drake.jpg);
    @include album-image();
}

.Two {
    background: url(/images/albums/rodwave.jpg);
    @include album-image();
}

.Three {
    background: url(/images/albums/teegrizzley.jpg);
    @include album-image();
}

.Four {
    background: url(/images/albums/6.jpg);
    @include album-image();
}

.Five {
    background: url(/images/albums/7.jpg);
    @include album-image();
}

.Six {
    background: url(/images/albums/8.jpg);
    @include album-image();
}

.featured__wrapper--link:hover .featured__wrapper--overlay {
    display: flex;
    flex-direction: column;
    height: inherit;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .featured__wrapper--link:hover .featured__wrapper--overlay {
        display: flex;
        flex-direction: column;
        height: inherit;
        text-align: center;
        justify-content: center;
    }
}