@mixin color {
    background: #f50;
    background: linear-gradient(#f70,#f30);
}

.filter {

    &__title {
        font-size: .9em;
        font-weight: 600;
    }

    &__button {
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        padding:14px 30px 15px;
        border-radius: 7px;
        width: fit-content;
        transition: .3s;
        margin-top: 1%;
        @include color();

        &--divider {
            margin-right: 15px;
        }

        &:hover {
            @include color();
        }

        &:focus {
            outline: none;
        }
    }

}