@mixin slider-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin color {
    background: #f50;
    background: linear-gradient(#f70,#f30);
}

.background-image {
    height: 60vh;
    width: 100%;
    @include slider-image();
    @include color();
}

.content {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 60vh;
    width: 100vw;

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      height: 68vh;
      width: 100%;
      text-align: center;
      font-family: 'Montserrat' , sans-serif;
      z-index: 4;
  
        &__title {
            color: #fff;
            font-size: 2.8em;
            letter-spacing: -2px;
            font-weight: 700;
            margin-bottom: 1%;

            @media only screen and (max-width: 1075px) {
                font-size: 2.75em;
            }

            @media only screen and (max-width: 550px) {
                font-size: 2.15em;
                margin-bottom: 3%;
            }

            @media only screen and (max-width: 300px) {
                font-size: 2em;
            }
        }
    
        &__subtitle {
            color: #fff;
            margin-bottom: 2%;
            font-size: 16px;
            font-weight: 600;

            @media only screen and (max-width: 550px) {
                margin-bottom: 3%;
            }

            @media only screen and (max-width: 300px) {
                font-size: 14px;
            }
        }
    }
}