.testimonial {
    margin: 0 auto;
    padding: 1em 0 4em 0;
    margin-bottom: 1em;
    width: 60%;
    max-width: 1700px;

    @media only screen and (max-width: 1800px) {
        width: 76%;
    }

    @media only screen and (max-width: 1025px) {
        width: 70%;
    }

    @media only screen and (max-width: 1025px) {
        min-width: 300px;
    }
    
    &__title {
        font-family: 'Montserrat' , sans-serif;
        font-weight: 700;
        line-height: 1.8;
        margin: 0 0 1em 0;
        color: #081b33;
        text-transform: uppercase;
        width: 60%;
        max-width: 1700px;
        margin: 0 auto;
        padding: 0 0 2em 0;

        @media only screen and (max-width: 1800px) {
            width: 76%;
        }

        @media only screen and (max-width: 1025px) {
            width: 70%;
        }
    }

    &--wrapper {
        display: grid;
        grid-template-columns: 225px 400px;
        grid-gap: 50px;
        justify-content: center;
        font-family: 'Open Sans' , sans-serif;

        @media only screen and (max-width: 1025px) {
            grid-template-columns: 1fr;
        }
    }


    &__image {
        height: 300px;
        width: 225px;
        max-width: 1700px;
        box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
        border-radius: 3px;
        color: #fff;
        text-decoration: none;
        justify-self: flex-end
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Montserrat' , sans-serif;
        color: #081b33;
        min-width: 300px;
        max-width: 500px;
        align-items: flex-start;

        @media only screen and (max-width: 600px) {
            min-width: auto;
        }


        &__name {
            text-transform: uppercase;
            font-size: 2em;
            color: #F50;
            margin-bottom: .1em;
        }

        &__content {
            font-size: .9em;
            margin-bottom: 1em;
        }
    }
}